body {
    margin: 0;
    background-color: white;
}

header,
.comingsoon {
    display: flex;
    justify-content: center;
    padding: 12px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

#logo,
#comingsoon {
    width: 90%;
    max-width: 700px;
}

@media (min-width: 768px) {
    #logo,
    #comingsoon {
        width: 30%;
    }
}